	<h1>Twitter Similarity Beta</h1>
	<div class="float-box">
		<div class="top">
			<a href ="#"><img src="images/twitter-512.png"  class="aqui"></a>
			<div class="usuario-top"><a href=#>@BobRoss</a></div>
		</div>
		<div class="lateral-bar">
			<div class="list-group nav">
				<button type="button" class="list-group-item" id="butt1">DateBot</button>
				<button type="button" class="list-group-item disabled" id="butt2">Analisís en profundidad</button>
				<button type="button" class="list-group-item" id="butt3">Busqueda por usuario</button>
			</div>
		</div>

		<div class="body-content">

			<div id="siman">

			<div id="sonic" class="enablede">

				<div class="content">
					<h4>Similaridad con @sonic_hedgehog</h4>
					<%= doughnut_chart @data2 %>
				</div>


				<div class="twitt-space">
					<blockquote class="twitter-tweet" data-lang="es"><p lang="en" dir="ltr">What Aaron said. Thanks for all your support! Now, about those numbers... <a href="https://twitter.com/hashtag/sxsw?src=hash">#sxsw</a> <a href="https://twitter.com/hashtag/historyofsonic?src=hash">#historyofsonic</a></p>&mdash; Sonic the Hedgehog (@sonic_hedgehog) <a href="https://twitter.com/sonic_hedgehog/status/711299313016504320">19 de marzo de 2016</a></blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>	</div>
				</div>

					<div id="mfer" class="disenablede">
						<div class="content">
							<h4>Similaridad con @mferser</h4>
							<%= doughnut_chart @data4 %>
						</div>
						<div class="twitt-space">
							<blockquote class="twitter-tweet" data-lang="es"><p lang="en" dir="ltr">January 10 2016 - David Bowie died peacefully today surrounded by his family after a courageous 18 month battle... <a href="https://t.co/ENRSiT43Zy">https://t.co/ENRSiT43Zy</a></p>&mdash; David Bowie Official (@DavidBowieReal) <a href="https://twitter.com/DavidBowieReal/status/686434952464982016">11 de enero de 2016</a></blockquote>
		<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>

					</div>

				<button type="button" class="btn btn-default btn-sm next-but-esp" id="change-context">Siguiente</button>
			</div>


			<div id="datebot">
				<div class="chat">

					<div class="panel panel-default">
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-2">
									<a href="#" class="thumbnail">
										<img src="..." alt="...">
									</a>
								</div>
								<div class="col-md-9">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat.
								</div>
							</div>
						</div>
						<div class="panel-footer">DateBot</div>

						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div class="col-md-9">
										Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est
									</div>
									<div class="col-xs-2">
										<a href="#" class="thumbnail">
											<img src="..." alt="...">
										</a>
									</div>
								</div>
							</div>
							<div class="panel-footer">@usuario</div>
						</div>
					</div>

					<div class="input-group">
						<input type="text" class="form-control dlineblock" placeholder="Escribe tu mensaje" aria-describedby="basic-addon1">
						<button type="button" class="btn btn-default btn-sm dlineblock">Enviar</button>
					</div>


				</div>
			</div>

			<div id="deepse">
				<div id="result">
					<div class="content">
						<h4>Similaridad con @lolomanolo</h4>
						<%= doughnut_chart @data3 %>
					</div>


					<div class="twitt-space">
						<blockquote class="twitter-tweet" data-cards="hidden" data-lang="es"><p lang="es" dir="ltr"><a href="https://twitter.com/hashtag/Usach?src=hash">#Usach</a> tendrá triestamentalidad con derecho a voz y <a href="https://twitter.com/hashtag/voto?src=hash">#voto</a> de estudiantes y trabajadores <a href="https://t.co/khm9z2uEbJ">https://t.co/khm9z2uEbJ</a></p>&mdash; el mostrador (@elmostrador) <a href="https://twitter.com/elmostrador/status/687363605977788416">13 de enero de 2016</a></blockquote>
						<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
					</div>

					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>

				<div id="butsearch">
					<div class="input-group">
						<input type="text" class="form-control dlineblock" placeholder="Escribe el nombre de usuario" aria-describedby="basic-addon1">
						<button type="button" class="btn btn-default btn-sm" id="sebott">Buscar</button>
					</div>
				</div>

</div>




			</div>
		</div>
